
[user]

	name = Breshna-Rahimzy-Sheridan
	email = rahimzy@sheridancollege.ca
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
/nbproject/private/